*,
*::before,
*,
*::after {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: background-color 0.3s ease-in-out, color 0.6s ease-in-out;
  justify-content: center;
  align-items: center;
  display: flex;
}
.Panel{
    /* padding: 5px;
    display: flex;
    flex-direction: column; */
    position: relative;
    padding: 20px;
    width: 100%;
}
.Panel1{
    background-color: green;
    color: white;
    width:1050px;
    height: 150px;
    display: flex;
    border: 3px solid black;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.panel4{
    padding: 5px;
    /* width: 500px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    place-items: center;
    justify-content: center;
    gap: 1em;
}
.panel4 button{
    background-color: white;
    border: 2px solid rgb(9, 9, 9);
    width: 100px;
    height: 30px;
    border-radius: 5px;
}
.custom2{
    width:1050px;
    display: flex;
    flex-direction: column;
    gap:2em;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.createDiv{
    width: 900px;
    border: 3px solid green;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    gap: 2em;
}
.innerPage{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    grid-template-rows: repeat(auto, auto);
    /* justify-content: center; */
    gap: 10em;
}
.Panel11{
    position: relative;
    top:0;
    bottom: 0;
    height: 70vh;
    left: 0;
    background: #fff;
    width: 300px;
    overflow:hidden ; 
    border: 3px solid black;
    border-radius: 20px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}
.Panel11 button{
    position: relative;
    color: rgb(85,83,83);
    font-size: 14px;
    display: table;
    width: 280px;
    padding: 10px;
}
.view{
    position: relative;
    background-color: cadetblue;
    color: rgb(15, 1, 1);
    font-size: 14px;
    display: table;
    width: 300px;
    padding: 10px;
}
.view:hover{
    background-color: #fff;
    color: brown;
}
.list{
    margin: 5px;
    background-color: burlywood;
    padding: 5px;
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    border: 3px solid green;
    border-radius: 10px;
    justify-content: space-between;
}
.list11{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 0%;
    margin: 0%;
}
.list1{
    display: grid;
    grid-template-columns: repeat(auto);
    border: 2px solid green;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    padding: 5px;
    margin: 5px;
}
.list11 button{
    border: 2px solid black;
    width: 30px;
    height: 20px;
    border-radius: 5px;
}
.listPanel{
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}